body {
	background-color: rgb(37, 13, 4);
}
.pageContainer {
	border-radius: 1rem;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	background-color: rgba(248, 246, 246, 0.082);
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#timer {
	color: rgb(255, 0, 0);
	display: flex;
	justify-content: flex-end;
}

#flip-counter {
	color: rgb(255, 0, 0);
	display: flex;
	justify-content: flex-end;
}

.gameGrid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	max-width: 765px;
	margin: 0 auto;
	border: none;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	background-color: rgb(206, 200, 200);
	border-radius: 20px;
	gap: 10px;
	padding: 10px;
}

.memory-card {
	width: 22%;
	aspect-ratio: 1 / 1;
	perspective: 1000px;
	position: relative;
	cursor: pointer;
	flex: 1 1 22%;
	max-width: 160px;
}

.memory-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	border: 5px solid rgb(8, 10, 159);
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 0.6s;
}

.front-face {
	transform: rotateY(180deg);
}

.memory-card.flipped .front-face {
	transform: rotateY(0deg);
}

.memory-card.flipped .back-face {
	transform: rotateY(180deg);
}

.memory-card .back-face {
	transform: rotateY(0deg);
}

.game-text {
	background: radial-gradient(
		circle,
		rgb(0, 13, 255) 0%,
		rgba(240, 237, 23, 1) 100%
	);
	border-radius: 0.5rem;
	border: 10%;
	border-color: blue;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Luckiest Guy", cursive;
	margin-bottom: 2%;
	padding-bottom: 1%;
}

h2 {
	margin: 0;
	font-size: 3em;
	padding: 0;
	color: white;
	text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
		0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
		0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
		-0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
		-0.03em 0 0 rgba(0, 0, 0, 1);
	span {
		transform: scale(0.9);
		display: inline-block;
	}
	span:first-child {
		animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
			alternate;
	}
	span:last-child {
		animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
			infinite alternate;
	}
}

@keyframes bop {
	0% {
		transform: scale(0.9);
	}
	50%,
	100% {
		transform: scale(1);
	}
}

@keyframes bopB {
	0% {
		transform: scale(0.9);
	}
	80%,
	100% {
		transform: scale(1) rotateZ(-3deg);
	}
}

#button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11rem;
	overflow: hidden;
	height: 3rem;
	background-size: 300% 300%;
	cursor: pointer;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
	transition: 0.5s;
	animation: gradient_301 5s ease infinite;
	border: double 4px transparent;
	background-image: linear-gradient(#212121, #212121),
		linear-gradient(
			137.48deg,
			#ffdb3b 10%,
			#fe53bb 45%,
			#8f51ea 67%,
			#0044ff 87%
		);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

#container-stars {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: 0.5s;
	backdrop-filter: blur(1rem);
	border-radius: 5rem;
}

strong {
	z-index: 2;
	font-family: "Avalors Personal Use";
	font-size: 12px;
	letter-spacing: 5px;
	color: #ffffff;
	text-shadow: 0 0 4px white;
}

#glow {
	position: absolute;
	display: flex;
	width: 12rem;
}

.circle {
	width: 100%;
	height: 30px;
	filter: blur(2rem);
	animation: pulse_3011 4s infinite;
	z-index: -1;
}

.circle:nth-of-type(1) {
	background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
	background: rgba(142, 81, 234, 0.704);
}

#button:hover #container-stars {
	z-index: 1;
	background-color: #212121;
}

#button:hover {
	transform: scale(1.1);
}

#button:active {
	border: double 4px #fe53bb;
	background-origin: border-box;
	background-clip: content-box, border-box;
	animation: none;
}

#button:active .circle {
	background: #fe53bb;
}

#stars {
	position: relative;
	background: transparent;
	width: 200rem;
	height: 200rem;
}

#stars::after {
	content: "";
	position: absolute;
	top: -10rem;
	left: -100rem;
	width: 100%;
	height: 100%;
	animation: animStarRotate 90s linear infinite;
}

#stars::after {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
}

#stars::before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	width: 170%;
	height: 500%;
	animation: animStar 60s linear infinite;
}

#stars::before {
	background-image: radial-gradient(#ffffff 1px, transparent 1%);
	background-size: 50px 50px;
	opacity: 0.5;
}

@keyframes animStar {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-135rem);
	}
}

@keyframes animStarRotate {
	from {
		transform: rotate(360deg);
	}

	to {
		transform: rotate(0);
	}
}

@keyframes gradient_301 {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse_3011 {
	0% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes bop {
	0% {
		transform: scale(0.9);
	}
	50%,
	100% {
		transform: scale(1);
	}
}

@keyframes bopB {
	0% {
		transform: scale(0.9);
	}
	80%,
	100% {
		transform: scale(1) rotateZ(-3deg);
	}
}
